
<h3>Sort by</h3>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button class="btn btn-default" type="button" id="name-btn">Name</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="email-btn">Email</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id="num-btn">Date</button>
    </div>
</div>


<div class="feedback-wrapper">
    <?php foreach($data['messages'] as $page_data) { ?>
    <div class="feedback-item">
        <? if ($page_data['modified_by_admin']==0){
      echo '<p class="feedback-time">'.$page_data['date_time'].'</p><p class="feedback-name">'.$page_data['name'].'</p><p class="feedback-message">'.$page_data['message'].'</p>';
      echo '<p class="feedback-email">'.$page_data['email'].'</p>';
        }
        ?>
    </div>
    <?php } ?>
</div>
<div class="panel panel-info" id="message-preview-wrapper" style="display: none">
    <div class="panel-heading">
        <h3 class="panel-title">Message preview</h3>
    </div>
    <div class="panel-body" id="preview-block"></div>
</div>
<h3>Leave your feedback:</h3>
<form id="feedback-form" action="" method="post">
    <input type="text" required class="form-control" name="name" placeholder="Please enter your name" value="" /><br/>
    <input type="email" required class="form-control" name="email" placeholder="Please enter your Email" value="" /><br/>
    <textarea name="message" required class="form-control" placeholder="Your message"></textarea><br/>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="preview-button">Preview</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>

<script type="text/javascript">
    var $divs = $(".feedback-item");

    $('#name-btn').on('click', function () {
        var alphabeticallyOrderedDivs = $divs.sort(function (a, b) {
            return $(a).find(".feedback-name").text() > $(b).find(".feedback-name").text();
        });
        $(".feedback-wrapper").html(alphabeticallyOrderedDivs);
    });

    $('#email-btn').on('click', function () {
        var alphabeticallyOrderedDivs = $divs.sort(function (a, b) {
            return $(a).find(".feedback-email").text() > $(b).find(".feedback-email").text();
        });
        $(".feedback-wrapper").html(alphabeticallyOrderedDivs);
    });

    $('#num-btn').on('click', function () {
        var numericallyOrderedDivs = $divs.sort(function (a, b) {
            return $(a).find(".feedback-time").text() > $(b).find(".feedback-time").text();
        });
        $(".feedback-wrapper").html(numericallyOrderedDivs);
    });


    window.onload = function(){
        previewButton = document.getElementById("preview-button");
        if(previewButton && document.getElementById("preview-block")) {
            previewButton.onclick = function(){
                var str = "<h3>" + document.getElementById("feedback-form").name.value + "</h3>";
                str += "<p>" + "Email: " + document.getElementById("feedback-form").email.value + "</p>";
                str += "<p>" + "Message: " +  document.getElementById("feedback-form").message.value + "</p>";
                document.getElementById("message-preview-wrapper").style.display = "block";
                document.getElementById("preview-block").innerHTML = str;
            }
        }
    }
</script>


